div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none; }

#helpTrigger {
  background-color: #a30707;
  color: #ececec;
  border-color: #cacaca;
  text-shadow: 1px 1px black; }

.introjs-tooltip {
  max-width: 350px; }

.introjs-tooltip, .introjs-helperLayer {
  color: #e8e8e8;
  background-color: #46474d;
  border: 1px solid #b2b2b2; }
  .introjs-tooltip p a, .introjs-helperLayer p a {
    color: #5cbee4; }

.introjs-helperLayer {
  color: #e8e8e8;
  background-color: rgba(94, 97, 111, 0.51); }

.introjs-overlay.hidden {
  display: none; }

.introjs-overlay {
  opacity: 0.3 !important; }

.introjs-button.wide {
  text-align: center;
  width: 92%; }

.table {
  width: 350px; }
  .table tr {
    border-top: 1px solid #747474; }
  .table th {
    text-align: left; }

html {
  overflow: hidden; }

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: helvetica;
  color: #aaa;
  text-shadow: 0.1em 0.1em #222;
  letter-spacing: 1px;
  font-size: 8pt;
  background-color: #2a4653; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

li {
  display: inline-block;
  padding: 0; }

.header {
  height: 50px;
  background-color: #1b1b1b;
  border-bottom: 1px solid #545454;
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1); }
  .header .actions {
    padding-top: 13px;
    padding-right: 11px; }
    .header .actions a {
      padding: 2px 1px 1px 1px; }
  .header a.site {
    font-family: monospace;
    padding-left: 10px;
    padding-top: 4px;
    color: #dbdbdb;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    display: block; }
    .header a.site img {
      width: 40px;
      height: 40px;
      float: left; }
    .header a.site span {
      margin-left: 10px;
      line-height: 42px; }

.container-left {
  bottom: 0;
  cursor: default;
  background-color: #333;
  left: 0;
  padding: 0 0 0 0px;
  position: absolute;
  border-right: 1px solid #555;
  top: 0;
  width: 228px;
  display: none; }

.container-right {
  bottom: 240px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(1%, rgba(0, 0, 0, 0.01)), color-stop(99%, rgba(0, 0, 0, 0.64)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.container-bottom {
  position: absolute;
  padding: 0;
  bottom: 0;
  left: 229px;
  right: 0;
  height: 239px;
  border-top: 1px solid #666;
  background-color: #222;
  display: none; }
  .container-bottom .fade {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    /* adjust it to your needs */
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0) 0%, #222222 70%); }

.top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: -1;
  background-color: #111115;
  border-bottom: 1px solid #3f3f3f; }

.controls {
  font-size: 9pt;
  position: absolute;
  top: 51px;
  bottom: 0;
  right: 1px;
  overflow: hidden;
  overflow-y: auto; }
  .controls::-webkit-scrollbar {
    width: 4px;
    height: 4px; }
  .controls::-webkit-scrollbar-button:start:decrement, .controls::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 2px;
    background-color: #232323; }
  .controls::-webkit-scrollbar-track-piece {
    background-color: #282828;
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px; }
  .controls::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #6d6d6d;
    -webkit-border-radius: 4px; }
  .controls::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #999;
    -webkit-border-radius: 4px; }
  .controls input[type=text], .controls textarea {
    font-family: monospace;
    color: #bbb;
    border-radius: 2px;
    border: 1px solid #1d1d1d;
    background-color: #42474a;
    font-size: 9pt;
    padding: 3px 5px; }
  .controls input[type=text] {
    text-align: right; }
  .controls.validation-enabled input:invalid {
    border-color: #db2b2b;
    background-color: #cfa9b0;
    color: black; }
  .controls li {
    display: inline-block; }
    .controls li.section {
      background-color: #27292c;
      width: 100%;
      padding: 4px 0px;
      margin-top: 6px;
      margin-bottom: 5px;
      border-bottom: 1px solid #464646;
      border-top: 1px solid #191919;
      text-align: center; }
      .controls li.section i {
        position: absolute;
        right: 0; }
        .controls li.section i:hover {
          border-color: #aeaeae;
          color: #cecece; }
    .controls li.split {
      display: block;
      width: 100%;
      border-bottom: 1px solid #464646;
      border-top: 1px solid #202626;
      margin-top: 5px;
      margin-bottom: 5px; }
    .controls li.group {
      margin-left: 4px; }
  .controls ul.control-row {
    padding: 1px 0px 0px 0px; }
    .controls ul.control-row input {
      width: 60px;
      margin: 0; }
    .controls ul.control-row textarea {
      width: 132px; }
    .controls ul.control-row.half input {
      margin-left: 72px; }
    .controls ul.control-row.single input {
      width: 134px; }
    .controls ul.control-row li.label {
      width: 64px;
      padding-left: 8px; }
  .controls ul.labels li {
    border: 1px solid #222222;
    border-bottom: none;
    border-radius: 4px 4px 0px 0;
    width: 65px;
    text-align: right;
    font-size: 7.5pt;
    padding-bottom: 4px;
    padding-top: 1px;
    padding-right: 5px;
    background-color: #6d6e70;
    color: #d7d7d7; }
  .controls ul.labels.pair li:first-child {
    margin-left: 72px;
    margin-right: 0px; }
  .controls .recalculate {
    text-align: center;
    padding-top: 5px; }
    .controls .recalculate button {
      border: 1px solid #787878;
      background-color: #2f3639;
      color: #ececec;
      font-size: 11pt;
      text-shadow: 0.1em 0.1em #222;
      padding: 8px;
      width: 100%;
      margin: 6px 0px;
      position: relative; }
      .controls .recalculate button:hover {
        background-color: #3b4346; }
      .controls .recalculate button:active {
        background-color: #1a2023; }
      .controls .recalculate button .layer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; }
      .controls .recalculate button .sheen {
        box-shadow: inset 0px 15px 0 rgba(255, 255, 255, 0.1); }
      .controls .recalculate button .progress {
        display: none;
        background-color: rgba(102, 155, 230, 0.39); }
      .controls .recalculate button .text-cancel {
        position: relative;
        display: none; }
      .controls .recalculate button .text-recalculate {
        position: relative;
        display: block; }
      .controls .recalculate button.recalculating .text-cancel {
        display: block; }
      .controls .recalculate button.recalculating .text-recalculate {
        display: none; }
      .controls .recalculate button.recalculating .progress {
        display: block; }

.system-info {
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #d6d6d6;
  border: 1px solid #363636;
  border-left: none;
  border-right: none;
  padding-top: 5px;
  padding-bottom: 10px;
  display: none; }
  .system-info .system-name {
    display: inline;
    font-size: 14pt;
    letter-spacing: 2px; }
    .system-info .system-name input {
      background: none;
      text-align: center;
      border: none;
      color: #bbb;
      width: 100%; }
  .system-info .system-author {
    display: none;
    margin: 0 auto;
    color: inherit; }
    .system-info .system-author:hover {
      color: #dce9f5; }

.actions {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 6px;
  padding-top: 7px;
  height: 30px; }
  .actions a {
    font-size: 8pt;
    padding: 2px 0px 1px 1px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    background-color: #1f1f20;
    text-decoration: none;
    line-height: 14px;
    color: #808080;
    border: 1px solid #797979;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer; }
    .actions a.facebook, .actions a.twitter, .actions a.gplus {
      color: #dbdbdb; }
    .actions a.facebook {
      border-color: #3B5998; }
    .actions a.twitter {
      border-color: #4099FF; }
    .actions a.gplus {
      border-color: #d34836; }
    .actions a.open input {
      width: 100px; }
    .actions a input {
      background: transparent;
      color: #dfdfdf;
      border: none;
      width: 0px;
      margin: 0px;
      padding: 0px;
      transition: width 0.25s ease-in-out;
      -moz-transition: width 0.25s ease-in-out;
      -webkit-transition: width 0.25s ease-in-out; }
    .actions a span {
      margin-left: 2px;
      margin-right: 4px; }
    .actions a i {
      font-size: 12px;
      padding: 0px 0px 0px 0px; }
    .actions a:hover {
      border-color: #aeaeae;
      color: #cecece; }
      .actions a:hover.tooltip:after {
        background: #333;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        top: 26px;
        color: #fff;
        border-color: white;
        content: attr(title);
        left: 0;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        white-space: nowrap; }

.drawing-pad {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .drawing-pad #drawingContainer {
    overflow: hidden;
    height: 100%; }
  .drawing-pad canvas {
    cursor: crosshair; }
    .drawing-pad canvas.moving {
      cursor: move; }
    .drawing-pad canvas.resizing {
      cursor: ne-resize; }

.ticker {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1px;
  padding: 0px;
  text-align: center; }
  .ticker::-webkit-scrollbar {
    width: 4px;
    height: 4px; }
  .ticker::-webkit-scrollbar-button:start:decrement, .ticker::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 2px;
    background-color: #232323; }
  .ticker::-webkit-scrollbar-track-piece {
    background-color: #282828;
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px; }
  .ticker::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #6d6d6d;
    -webkit-border-radius: 4px; }
  .ticker::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #999;
    -webkit-border-radius: 4px; }
  .ticker .elem {
    border: 1px solid #6f6f6f;
    padding: 2px;
    margin: 1px;
    border-radius: 1px;
    position: relative;
    background-color: #2c2e33;
    width: 130px;
    height: 125px;
    font-size: 8pt; }
    .ticker .elem:hover {
      background-color: #3f444a; }
    .ticker .elem .img-holder {
      text-align: center; }
      .ticker .elem .img-holder img {
        margin: 0 auto; }
    .ticker .elem .elem-author {
      display: none; }
    .ticker .elem .elem-label {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5px;
      background-color: rgba(0, 0, 0, 0.3);
      color: #d6d6d6;
      border: 1px solid #555555;
      border-left: none;
      border-right: none;
      padding: 2px 0;
      text-overflow: ellipsis; }

/*# sourceMappingURL=test.css.map */